<h3>
    Bienvenido al chat</h3>
<hr>


<div class="app-mensajes" id="app-mensajes">

    <div *ngFor="let chat of chatService.chats" [ngClass]="{'align': chatService.usuario.uid == chat.uid}">
        <span class="badge" [ngClass]="{'bg-primary': chatService.usuario.uid == chat.uid, 'bg-success' : chatService.usuario.uid != chat.uid}">
            {{chat.nombre}}
        </span>
        <p>
            {{chat.message}}
        </p>
    </div>

</div>
<div class="row">
    <div class="col-9">
        <input type="text" placeholder="Escribe un mensajes" (keyup.enter)="enviar_mensaje()" [(ngModel)]="mensaje" class="form-control">
    </div>
    <div class="col align-self-end">
        <button class="btn btn-outline-info" (click)="enviar_mensaje()">
            <i class="fa fa-arrow-right">
            </i>
        </button>
    </div>
</div>