<h1>
    chat</h1>
<hr>


<div class="app-mensajes" id="app-mensajes">

    <div *ngFor="let chat of chatService.chats" [ngClass]="{'align': chatService.usuario.uid == chat.uid}">
        <span class="badge" [ngClass]="{'bg-primary': chatService.usuario.uid == chat.uid, 'bg-success' : chatService.usuario.uid != chat.uid}">
            {{chat.nombre}}
        </span>
        <p>
            {{chat.message}}
        </p>
    </div>

</div>

<input type="text" placeholder="Escribe un mensaje" (keyup.enter)="enviar_mensaje()" [(ngModel)]="mensaje" class="form-control">