<div class="container main-container">

    <h1 class="text text-success">ChatFirebase</h1>
    <div class="chat-window">

        <app-chat></app-chat>

    </div>
</div>




<!-- <h1 class=" mt3 ml3 text bg-left ">chatFirebase</h1>


<div class="row m4">
    <div class="col m3">
        <ul>
            <li class="text" *ngFor="let chat of chats | async">
                {{chat.message}}
                <h3 class="text text-success">mensajes cargados</h3>
            </li>
        </ul>
    </div>
</div>
-->

<router-outlet></router-outlet>